*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1 rem = 10px
}

body {
    box-sizing: border-box;
    margin: 1rem;
    padding: 3rem;
    background: #413F42;
    border: .5rem solid #E3651D;
    border-radius: 1rem;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 6rem;
    color: #FFBD69;
}

.start-btn {
    padding: 2rem 4rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 3rem;
    background-color: black;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: "Roboto Light", "sans-serif";
}

.start-btn:hover {
    padding: 2rem 4rem;
    font-size: 3rem;
    border-radius: 3rem;
    background-color: #FFBD69;
    border: .2rem solid lightslategrey;
    color: black;
    font-weight: 600;
}
